<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.seiyaya.common.mapper.RequestLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="xyz.seiyaya.common.bean.RequestLog">
        <id column="id" property="id"/>
        <result column="type" property="type" />
        <result column="request_url" property="requestUrl" />
        <result column="request_params" property="requestParams" />
        <result column="response_content" property="responseContent" />
        <result column="cost_time" property="costTime" />
        <result column="create_date" property="createDate" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,type,request_url,request_params,response_content,cost_time,create_date 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id}
            </if>
            <if test="type != null  ">
                and type = #{type}
            </if>
            <if test="requestUrl != null  ">
                and request_url = #{requestUrl}
            </if>
            <if test="requestParams != null  ">
                and request_params = #{requestParams}
            </if>
            <if test="responseContent != null  ">
                and response_content = #{responseContent}
            </if>
            <if test="costTime != null  ">
                and cost_time = #{costTime}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
        </trim>
    </sql>
    
    
    <insert id="insert" parameterType="xyz.seiyaya.common.bean.RequestLog">
        insert into t_request_log(type,request_url,request_params,response_content,cost_time,create_date)values(#{type},#{requestUrl},#{requestParams},#{responseContent},#{costTime},#{createDate})
    </insert>

    
    <update id="update" parameterType="xyz.seiyaya.common.bean.RequestLog">
        update t_request_log set 
            type = #{type},
            request_url = #{requestUrl},
            request_params = #{requestParams},
            response_content = #{responseContent},
            cost_time = #{costTime},
            create_date = #{createDate}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateByCondition"  parameterType="java.util.HashMap">
        update t_request_log
          <set>
            <if test="type != null  ">        
                type = #{type},
            </if>
            <if test="requestUrl != null  ">        
                request_url = #{requestUrl},
            </if>
            <if test="requestParams != null  ">        
                request_params = #{requestParams},
            </if>
            <if test="responseContent != null  ">        
                response_content = #{responseContent},
            </if>
            <if test="costTime != null  ">        
                cost_time = #{costTime},
            </if>
            <if test="createDate != null">
                create_date = #{createDate}
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from t_request_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="getByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_request_log
        <include refid="searchBy"/>
    </select>
               
    <select id="getList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from t_request_log
        <include refid="searchBy"/>
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_request_log(type,request_url,request_params,response_content,cost_time,create_date)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.type},#{item.requestUrl},#{item.requestParams},#{item.responseContent},#{item.costTime},#{item.createDate})
        </foreach>
    </insert>

    <update id="batchUpdateById" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update t_request_log
            <set>
                        <if test="type != null">
                            type = #{item.type},
                        </if>
                        <if test="requestUrl != null">
                            request_url = #{item.requestUrl},
                        </if>
                        <if test="requestParams != null">
                            request_params = #{item.requestParams},
                        </if>
                        <if test="responseContent != null">
                            response_content = #{item.responseContent},
                        </if>
                        <if test="costTime != null">
                            cost_time = #{item.costTime},
                        </if>
                        <if test="createDate != null">
                            create_date = #{createDate}
                        </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    
</mapper>
