<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.seiyaya.mybatis.generate.quartz.mapper.UploadPicMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="xyz.seiyaya.mybatis.generate.quartz.bean.UploadPic">
        <id column="id" property="id" jdbcType="Integer" />
        <result column="type" property="type" jdbcType="String" />
        <result column="url" property="url" jdbcType="String" />
        <result column="create_date" property="createDate" jdbcType="Date" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,type,url,create_date 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=Integer}
            </if>
            <if test="type != null and type != '' ">
                and type = #{type,jdbcType=String}
            </if>
            <if test="url != null and url != '' ">
                and url = #{url,jdbcType=String}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=Date}
            </if>
        </trim>
    </sql>
    
    
    <insert id="insert" parameterType="xyz.seiyaya.mybatis.generate.quartz.domain.UploadPic">
        insert into t_upload_pic(type,url,create_date)values(#{type,jdbcType=String},#{url,jdbcType=String},#{createDate,jdbcType=Date})
    </insert>

    
    <update id="update" parameterType="xyz.seiyaya.mybatis.generate.quartz.domain.UploadPic">
        update t_upload_pic set 
            type = #{type,jdbcType=String},

            url = #{url,jdbcType=String},

            create_date = #{createDate,jdbcType=Date}

        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateByCondition"  parameterType="java.util.HashMap">
        update t_upload_pic
          <set>
            <if test="type != null and type != '' ">        
                type = #{type,jdbcType=String},
                
            </if>
            <if test="url != null and url != '' ">        
                url = #{url,jdbcType=String},
                
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=Date}
                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from t_upload_pic
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="getByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_upload_pic
        <include refid="searchBy"/>
    </select>
               
    <select id="getList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from t_upload_pic
        <include refid="searchBy"/>
    </select>
    
</mapper>
